<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="All tests">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./build/log/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="./build/log/clover.xml"/>
        <log type="coverage-php" target="./build/log/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="./build/log/logfile.xml"/>
        <log type="testdox-html" target="./build/log/testdox.html"/>
        <log type="testdox-text" target="./build/log/testdox.txt"/>
    </logging>
</phpunit>
